/* 기본 설정 */

* {
  box-sizing: border-box;
}

/* CSS 변수 (다크 모드 및 공통 스타일에 활용) */

:root {
  /* --bg-color: #ffffff; */
  --text-color: #ffffff;
  --card-bg: #ffffff;
}

body {
  /* background-color: var(--bg-color); */
  color: var(--text-color);
  margin: 0;
  font-family: sans-serif;
}

/* 그 외 적용 */

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero-content {
  z-index: 3;
  text-align: center;
}

.hero-btn-group {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* .btn-primary {
  background-color: aqua;
} */

main {
  background-color: #222222;
}

.input-group {
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--card-bg);
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 240px;
  object-fit: cover;
}

.card-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.carousel-item {
  height: 600px;
  object-fit: cover;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .carousel-item {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    height: 200px;
  }
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;
}

.contact-section {
  background-color: #222222;
}

.contact-section section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
}

.floating-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-btn img {
  width: 32px;
  height: 32px;
}

footer .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;
}
