/* 기본 설정 */

* {
  box-sizing: border-box;
}

body {
  /* background-color: #ff0000; */
  margin: 0 auto;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1542401886-65d6c61db217?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  border: none;
  border-radius: 12px;
}

.card-img-top {
  height: 240px;
  object-fit: cover;
}

.card-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.carousel-item {
  height: 600px;
  object-fit: cover;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .carousel-item {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    height: 200px;
  }
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;
}

.contact-section {
  background-color: #9a662b;
}

.contact-section section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
}

footer .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;
}
